@import "tailwindcss";

body {
  background-color: rgb(255, 252, 252);
  color: #000;
}

.loader {
  border-top-color: transparent;
  -webkit-animation: spin 0.9s linear infinite;
  animation: spin 0.9s linear infinite;
  border-radius: 50%;
}
@-webkit-keyframes spin { to { -webkit-transform: rotate(360deg); } }
@keyframes spin { to { transform: rotate(360deg); } }